/* remove maximum/minimum  width restriction of sidebar 
#sidebar {
  max-width: none !important;
  min-width: 0px !important;
}

#PersonalToolbar {
  visibility: collapse !important;
}

#navigator-toolbox:hover > #PersonalToolbar {
  visibility: visible !important;
}
*/

/*
* Makes tabs only 22px high rather than the default 29px
* Only works on compact mode, otherwise tab height will be normal
*
* Contributor(s): DrPugsley
*/

[uidensity="compact"]:root {
  --tab-min-height: 22px !important;
  --newtab-margin: -3px 0 -3px -3px !important;
}

:root[uidensity="compact"] #tabbrowser-tabs {
  --tab-min-height: var(--tab-min-height) !important;
}

.tabbrowser-tab {
  max-height: var(--tab-min-height) !important;
}

.tabs-newtab-button {
  margin: var(--newtab-margin) !important;
}

/* 
/*================== Everforest for Firefox ==================
Author: natabot
ENJOY!
*/

/*================ GLOBAL COLORS ================*/
:root {
  --caption_close_color: #b67073;
  --caption_max_color: #a7c080;
  --caption_min_color: #d3c6aa;
  --caption_unselected_color: #2b3339;
  --bg_color: #1e2327;
}

/*================== CAPTION BUTTONS ==================*/
.titlebar-buttonbox {
  position: relative;
  margin-right: 0px;
  margin-top: -10px !important;
}
.titlebar-button {
  transition: all 0.3s ease !important;
  padding: 8px 10px !important;
  background: none !important;
}
.titlebar-button.titlebar-close {
  padding-right: 26px !important;
}
.titlebar-button > .toolbarbutton-icon {
  transition: all 0.3s ease !important;
  list-style-image: none;
  border-radius: 15px;
  width: 12px !important;
  height: 12px !important;
}

/* the 12px image renders a 10px icon, and the 10px upscaled gets rounded to 12.5, which
* rounds up to 13px, which makes the icon one pixel too big on 1.25dppx. Fix: */
@media (min-resolution: 1.2dppx) and (max-resolution: 1.45dppx) {
  .titlebar-button > .toolbarbutton-icon {
    width: 12px !important;
    height: 12px !important;
  }
}

/* 175% dpi should result in the same device pixel sizes as 150% dpi. */
@media (min-resolution: 1.45dppx) and (max-resolution: 1.7dppx) {
  .titlebar-button > .toolbarbutton-icon {
    width: 12px !important;
    height: 12px !important;
  }
}

/* 175% dpi should result in the same device pixel sizes as 150% dpi. */
@media (min-resolution: 1.7dppx) and (max-resolution: 1.95dppx) {
  .titlebar-button > .toolbarbutton-icon {
    width: 12px !important;
    height: 12px !important;
  }
}

.titlebar-button:hover > .toolbarbutton-icon {
  background: none !important;
}

.titlebar-button.titlebar-min > .toolbarbutton-icon,
.titlebar-button.titlebar-max > .toolbarbutton-icon,
.titlebar-button.titlebar-restore > .toolbarbutton-icon,
.titlebar-button.titlebar-close > .toolbarbutton-icon {
  background: var(--caption_unselected_color) !important;
}

.titlebar-button.titlebar-min:hover > .toolbarbutton-icon {
  background: var(--caption_min_color) !important;
}

.titlebar-button.titlebar-max:hover > .toolbarbutton-icon,
.titlebar-button.titlebar-restore:hover > .toolbarbutton-icon {
  background: var(--caption_max_color) !important;
}

.titlebar-button.titlebar-close:hover > .toolbarbutton-icon {
  background: var(--caption_close_color) !important;
}
